#mubchatbox{

position:fixed;
bottom:80px;
right:20px;
width:300px;
height:400px;
background:white;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
display:none;
flex-direction:column;

}

#mubheader{

background:#111;
color:white;
padding:10px;

}

#mubmessages{

height:300px;
overflow:auto;
padding:10px;

}

.bot{

background:#eee;
padding:6px;
margin:4px;
border-radius:6px;

}

.user{

background:#007bff;
color:white;
padding:6px;
margin:4px;
border-radius:6px;

}

#mubtoggle{

position:fixed;
bottom:20px;
right:20px;
padding:10px 15px;
background:black;
color:white;
border:none;
border-radius:20px;

}